*{
    margin: 0px;
    padding: 0px;
}
:root{
--scrollTrack: #01203b;
--scrollThumb: rgb(0, 68, 124);
--scrollHover: rgb(0, 81, 148);
--homeBtn: rgb(40, 186, 210);
--item:transparent;

}


/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:var(--scrollTrack);
    border-radius: 5px;
}

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollThumb);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollHover);
  }

  

span{
    color: #c2bfc3;
}

body{
    background-color: black;
    color: white;
}

.titleBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 40px;
}



#itemImage{
    border-radius: 5px 5px 0px 0px;
    width: 200px;
    height: 300px;
}

#cardImage{
    /* border: 2px solid white; */
    border-radius: 8px;
    width: 23vw;
    height: 34.5vw;
}

.skeleton{
    width: 23vw;
    height: 34.5vw;
    /* opacity: 0.7; */
    animation: skeleton-loading 0.6s linear infinite alternate;
}

.castImageSkeleton{
    animation: skeleton-loading 0.6s linear infinite alternate;
}

.itemSkeleton{
    width: 200px;
    height: 300px;
    animation: skeleton-loading 0.6s linear infinite alternate;

}





.carouselSkeleton{
    animation: skeleton-loading 0.6s linear infinite alternate;
}

@keyframes skeleton-loading{
    0%{
        background-color: rgb(160, 160, 160);
    }
    20%{
        background-color: rgb(150, 150, 150);
    }
    40%{
        background-color: rgb(130, 130, 130);
    }
    60%{
        background-color: rgb(130, 130, 130);
    }
    80%{
        background-color: rgb(150, 150, 150);
    }
    100%{
        background-color: rgb(160, 160, 160);
    }
    
}

    

 #nameCard{
    /* border: 2px solid white; */
    border-radius: 8px;
}

#carouselBtn{
    display: none;
}

#itemName{
    display: inline-block;
    font-weight: bold;
    font-size: 2vw;
    width: 100%;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
}

#itemName1{
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
}

#creditItemName{
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
}

#type{
    font-size: 0.8rem;
}

#itemDate{
    font-size: 1.2vw;
}

#title{
    font-weight: 900;
    font-size: xx-large;
    color: #ffffff;
    display: block;
}
#popularity{
    color: #ffffff;
}

.dateTime{
    margin-top: 10px;
}

.statistics{
    display: flex;
    width: auto;
    width: 70%;
    justify-content: right;
}


.popularityBar{
    display:inline-block;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
}
.ratingBar{
    display: inline-block;
    padding: 10px;
    align-items: center;
    justify-content: center;
 
    font-weight: bold;
    text-align: center;
    width: auto;
}

.ratingBar span{
    color: #c2bfc3;
}

#itemRating{
    color: white;
    font-weight: 1000;
}

#votes{
    color: #c2bfc3;
    font-weight: bold;
}

.popularityBar span{
    color: #c2bfc3;
    font-weight: bold;
}

.media{
    display: flex;
    width: 100%;
    height: 40vw;
    margin-top: 20px;
    padding: 10px 40px;
}

.episodeMedia{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 10px 40px;
}

.poster{
    display: block;
    width: auto;
    height: 100%;
    margin: auto;
}

.trailer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    margin-left: 5px;
}

#itemTrailer{
    width: 100%;
    min-height: 35vw;
    height: 100%;
}


#posterImage{
    width: auto;
    height: 100%;
}

#main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.leftMainColumn{
    display: inline-block;
    width: 70%;
}

.rightMainColumn{
    display: inline-block;
    width: 30%;
    background-color: #032541;
    border-radius: 10px;
    margin: 10px 20px 20px 0px;
}

.metaData{
    display: flex;
    flex-direction: row;
    width: 100%-padding;
}

#homePageButton{
    display: block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(0, 68, 124);
    transition: 0.15s;
    /* border: 2px solid  rgb(40, 186, 210); */
}

#homePageButton a{
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}

#homePage:visited{
    color: white;
    text-decoration: none;
}

#homePageButton:hover{
    cursor: pointer;
    background-color: var(--homeBtn);
    transform: scale(1.008);
    opacity: 0.9;
}

#keywords{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.keywordItem{
    display: inline-block;
    width: max-content;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    margin: 8px;
    font-weight: 400;
    background-color:var(--item);
}

#networks{
    display: block;
}

.networkItem{
    display: block;
    margin: 15px 3px;
}

.networkImage{
    display: inline-block;
    vertical-align: baseline;
    padding: 0;
    margin: 0;
    height: 100%;
    max-width: 260px;
    max-height: 30px;
}

.pcList{
    display: block;
}

.pcItem{
    display: block;
    font-size: medium;
    font-weight: 400;
}


.info{
    display: block;
    width: -webkit-fill-available;
    height: auto;
    margin: 10px 20px;
    padding: 10px 20px;
    background-color: #032541;
    border-radius: 10px;
}

.genres{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}


.genres ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

#genresList{
    width: 100%;
}

.genres ul li{
    list-style: none;
    /* border: 1.5px solid rgb(114, 109, 120); */
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    width: max-content;
    margin-right: 10px;
    background-color: var(--item);
    padding: 3px 10px;
    border-radius: 15px;
}

.overviewBar{
    display: inline-block;
    
}

.overviewBar span{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#overview{
    width: 100%;
}

.providers{
  display: block;
  width: 40%;
  padding: 20px 0px;
  text-align: center;
}

#watchProviders{
    border: 2px solid black;
    border-radius: 15px;
    width: 40%;
    padding: 5px 10px;
}

.castMain{
    display:block;
    /* border: 2px solid grey; */
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.2s;
}

.castMain:hover{
    opacity: 0.75;
    transform: scale(1.012);
    
}

.castDiv{
    padding:20px;
    margin: 20px;
    display: block;
    background-color: #032541;
    border-radius: 10px;
}

.castDiv span{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin-left: 10px;
    
}

.castImage{
    width: 160px;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}

.castInfo{
    padding: 10px;
    color: black;
}


.castName{
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
}

#castName1{
    display: none;
}

.characterName{
    color: #ffffff;
    padding-top: 5px;
}

#castList{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-y: hidden;
    list-style: none;
    margin-right: 10px;
    padding-top: 30px;
}




#crewList{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-y: hidden;
    list-style: none;
    margin-right: 10px;
    padding-top: 30px;
}



.recommendations{
    display: block;
    padding:20px;
    margin: 20px;
    background-color: #032541;
    border-radius: 10px;
}

.recommendations span{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin: 15px;
}

#recommendationsList{
    display: flex;
    flex-direction:row;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0px 10px;
    padding: 0px;
}

.collectionCard{
    display: flex;
    /* background-color:#001a30; */
    border-radius: 15px;
    transition: transform .37s;
    width: 100%;
}

.collectionInfo{
    display: flex;
    flex-direction: column;
}

.collectionInfo div{
    margin: 5px;
}

.collectionImage{
    width: 150px;
    height: 200px;
    border-radius: 8px 8px 8px 8px;
    margin: 10px;
}

 #collections{
    background-color: #032541;
    border-radius: 10px;
    padding:20px;
    margin: 20px;
 }

 #collectionItem{
    margin: 20px;
    border-radius: 15px;
    transition: 0.2s;
 }

 #collectionItem:hover{
    opacity: 0.85;
    transform: scale(1.005);
 }


 #collections span{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin: 15px;
    margin-bottom: 10px;
}

#description{
    font-weight: bold;
    font-size: medium;
}

#collectionName{
    font-size: large;
    font-weight: bold;
}

#seasonsList{
    display: flex;
    flex-direction:row;
    overflow-x: auto;
    scroll-behavior: smooth;
}


#similarList{
    display: flex;
    flex-direction:row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin: 0px 10px;
    padding: 0px;
}



.recommendationItem{
    display: flex;
    padding: 20px 10px;
    list-style: none;
}

.itemCard{
    display: inline-block;
    /* border: 2px solid white; */
    border-radius: 5px;
    transition: transform .30s;
}

.itemCard:hover{
    opacity: 0.8;
    transform: scale(1.02);
}

.cardImage img{
    border-radius: 15px 15px 0px 0px;
    height: 300px;
    width: 100%;
}

#rating{
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-size: medium;
}

.fa-star:before {
    content: "\f005";
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* #itemName text{
    display: block;
    font-weight:bold;
    font-size: 0.9rem;
    color: #ffffff;
    text-overflow: ellipsis;
    overflow-x: hidden;
} */

#releaseDate{
    font-size: 0.7rem;
    color: #ffffff;
}

.recommendationInfo{
    display: block;
    margin: 10px;
}
.info h5,h6{
    padding: 5px 5px;
}



.productionInfo{
    display: flex;
    padding: 10px;
    height: 50vh;
    max-height: 60vh;
    background-color: #032541;
    border-radius: 10px;
    padding:20px;
    margin: 10px 20px;
    padding-left: 20px;
}

.productionCompanies{
    display: inline-block;
    width: 65%;
    height: 100%;
    /* border: 2px solid red; */

}

.productionCompanies span{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 20px;
}

.spoken_languages{
    display: inline-block;
    /* text-align: center; */
    /* border: 2px solid green; */
    margin-left: 40px;
    width: 30%;
    height: 90%;
}

.spoken_languages span{
    color: white;
}
.productionCard{
    display: block;
    height: 100%;
    width: 100% -padding;
    overflow-y: auto;
    
}
#productionList{
    display: block;
    overflow-y: scroll;
    height: auto;
    max-height: 100%;
}



#productionList li{
    list-style: none;
}

.productionItem{
    display: flex;
    align-items: center;
    margin-top: 10px; 
    opacity: 0.9;
    list-style: none;
}

.imageSizing{
    width: 400px;
    height: 50vw;
}
.productionLogo{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 85px;
    background-color: white;
}

.logoImage{
    display: inline-block;
    width: 150px;
    height: 60px;
    
}

.productionData{
    display: inline-block;
    margin-left: 10px;
}

#productionName{
    display: block;
}

#productionOrigin{
    display: block;
}

#languageList{
    overflow-y: auto;
    height: auto;
    max-height: 80%;
}

#languageList li{
    list-style: none;
}

.checked{
    color: orange;
    width: auto;
}


.carouselItemCard{
    display: grid;
    margin: 5vw;
    grid-template-columns: 25vw auto;
    align-items: flex-end;
    position: absolute;
    width: auto;
    border: 0px solid;
    height: auto;
    overflow-wrap: anywhere;
   
}

.mainCard{
    position: relative;
    display: flex;
    z-index: -1;
    width: auto;
    height: 50vw;
}

#controlBtn{
    display: none;
}

.card-body{
    background: black;
    opacity: 0.8;
    margin:15px 10px;
    padding: 5px 15px;
    padding-right: 40px;
    display: block;
    color: white;
}


.carouselItemCard{
    width: max-content;
    overflow-wrap: anywhere;
}


.carouselCard{
    z-index: -1;
}

.reviewDiv{
    height: 25vw;
    width: 100%-padding;
    padding:20px;
    margin: 20px;
    background-color: #032541;
    border-radius: 10px;
}

.reviewDiv span{
 font-size: 1.5rem;
 color: white;
 font-weight: bold;
 margin: 10px 20px;
}

#reviewsList{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    margin-left: 10px;
    height: 90%;
    width: auto;
}


#reviewsList li{
    list-style: none;
}


.reviewCard{
    display: block;
    list-style: none;
    /* border: 2px solid white; */
    background-color: var(--item);
    border-radius: 10px;
    margin-right: 10px;
    height: 100%;
    width: 35vw;
}

.reviewerInfo{
    display: flex;
    flex-direction: row;
}

#reviewerImage{
    display: inline-block;
    width: 5%;
    height: 5%;
    margin: 10px;
}

#reviewerName{
    font-size: 1rem;
    display: inline-block;
}

#review{
    display: block;
    height: 70%;
    width: 100%;
    margin-top: 10px;
    overflow-y: scroll;
    padding: 10px;
    font-size: 0.9rem;
}

#reviewRating{
    font-size: small;
    justify-self: flex-end;
}


.episodesDiv{
    display: block;
}

.episodeItem{
    list-style: none;
}

#episodesList{
    display: flex;
    flex-direction: row;
    /* grid-template-columns: repeat(3,1fr); */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
        /* grid-gap: 20px;
        gap: 20px; */
}

.episodeCard{
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 10px;
    width: 420px;
    margin: 10px;
    height: 88%;  
    padding: 5px; 
}
.anchor{
    text-decoration: none;
    color: white;
}


.episodeImage{
    display: inline-block;
    /* width: 100%;
    height: 100%; */
    /* aspect-ratio: 1.78; */
}

.episodeImage img{
    width: 225px;
    height: 126px;
    border-radius: 5px;
}

#episodeMetrics{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    display: block;
    margin: 10px;
    font-size: 0.8rem;
}

#headingSpan{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 40px;
}

#episodeAirDate{
    display: inline-block;
    font-size: 0.8rem;
    color: white;
    grid-column: 3;
    margin-left: 10px;
    justify-self: flex-end;
    
}

.episodeInfo{
    text-decoration: none;
    display: block;
    width: 100%;
}

#episodeRating{
    justify-self: flex-start;
}

#episodeOverview p{
    display: block;
    white-space: wrap;
    overflow-x: auto;
    font-size: 0.9rem;
    margin: 0px 10px;
    height: 60px;
}

#episodeName{
    display: block;
    overflow-x: hidden;
    margin: 0px 10px;
    font-weight: bold;
}

.nameTime{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

#episodeDuration{
    display: block;
    justify-self: flex-end;
    font-size: 1rem;
    margin-left: 10px;
}

#ratingSpan{
    display: block;
    margin-left: 10px;
    font-weight: 600;
    font-size: 0.9rem;
    width: auto;
    color: rgb(196, 196, 196);
}

#episodeNumber, #episodeTitle{
    font-weight: bold;
    font-size: xx-large;
    color: #ffffff;
}

.episodeImage{
    height: auto;
    width: auto;
}

.titleDiv{
    /* margin: 10vh 3vw; */
    display: block;
    width: 100-padding;
    margin: 20px;
    font-size: 1rem;
}

.number_revenue{
    margin: 7vh 3vw;
    font-weight: bold;
    font-size: large;
}

.moviesDiv{
    display: block;
    width: 100%-padding;
}

#moviesList a{
    text-decoration: none;
}

#moviesList{
    display: block;
}

.movieItem{
    display: flex;
    flex-direction: row;
    background-color: var(--item);
    /* border: 2px solid white; */
    border-radius: 5px;
    width: 100%;
    height: 150px;
    margin: 15px 0px;
    
}

#movieImage{
    display: inline-block;
}

.movieInfo{
    display: inline-block;
    padding: 10px;
}

#overview{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    overflow-y: hidden; 
    text-overflow: hidden;
}

#movieDate{
    display: block;
    font-weight: normal;
    color: rgb(180, 180, 180);
    font-size:medium ;
}

#movieName{
    display: block;
    font-size: 1.3rem;
}

#movieImage{
    display: inline-block;
}

#movieImage img{
    height: 100%;
    width: 100px;
    border-radius: 5px 0px 0px 5px;
}

#movieName:hover{
    color: #01b4e4;
}

.mainCastDiv{
    display: flex;
    flex-direction: row;
}

.leftColumn{
    display: block;
    width: 30%;
    height: auto;
    border-radius: 10px;
    padding: 20px 10px;
    align-items: center;
}

.rightColumn{
    display: block;
    width: 70%;
    height: auto;
    border-radius: 10px;
    padding: 20px 10px;
}

#personImage{
    width: 90%;
    margin: 20px;
    height: auto;
    border-radius: 5px;
}

#castName{
    font-weight: bolder;
    font-size: 2rem;
    color: white;
    margin: 10px;
}

.subHeading{
    display: block;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    margin: 10px;
    margin-top: 30px;
}

#otherNamesList{
    font-size: 1rem;
    color: white;
    font-weight: 500;
    margin: 30px 10px;
}

#biography{
    font-weight: normal;
    color: white;
    font-size: 0.9rem;
    margin: 10px;
}

#tvList{
    display: flex;
    flex-direction:row;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#creditList{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    /* overflow-x: scroll;
    scroll-behavior: smooth; */
}


.subHeading1{
    display: block;
    font-size: 1rem;
    color: white;
    font-weight:500;
    margin: 0px 10px;
    margin-top: 30px;
}

.subHeading2{
    display: block;
    font-size: 1rem;
    color: white;
    font-weight:300;
    margin: 0px 10px;
}

.personInfo{
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0px 10px;
    color: white;
}

.tempHeading{
    font-size: large;
    font-weight: 500;
    margin: 10px;
    margin-top: 30px;
}

#castProfile{
    max-width: 150px;
    max-height: 250px;
    margin: 10px;
    border-radius: 5px;
}

#photoList{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow-y: hidden;
    list-style: none; 
}




@media screen and (max-width: 700px){
    .itemSkeleton{
        width: 145px;
        height: auto;
        border-radius: 10px;
    }
    .mainCastDiv{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #personImage{
        margin: 10px 20px;
    }

    #castName1{
        display: block;
        font-weight: bolder;
        font-size: 2rem;
        color: white;
        margin: 10px;
        text-align: center;
    }

    #castName{
        display: none;
    }

    .leftColumn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }


    .rightColumn{
        display: block;
        width: 100%;
    }

    .personalInfo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .subHeading1{
       grid-column-start: 1;
       grid-column-end: 2;
       align-self: center;
       margin-top: 15px;
       height: auto;
    }

    .personInfo{
        display: inline-block;
        align-self: center;
        margin-top: 15px;
        height: auto;
    }

    #otherNamesList{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 200%;
        font-size: 1rem;
        color: white;
        font-weight: 500;
        margin: 0px 10px;
    }

    .tempHeading{
        margin: 10px;
        margin-top: 30px;
        font-size: large;
        font-weight: 500;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    

    .itemCard{
        width: 150px;
        max-height: auto;
    }

    #itemImage{
        border-radius: 5px 5px 0px 0px;
        width: 145px;
        height: 218px;
    }


    #itemName{
        font-size: 0.8rem;
    }

    #collectionName{
        font-size: large;
        font-weight: bold;
        margin-top: 10px;
    }

    #rating{
        font-size: 0.8rem;
    }


    #releaseDate , #type{
        font-size: 0.7rem;
    }

    .media{
        display: block;
        height: auto;
        padding: 10px;
    }

    .titleBar{
        padding: 10px;
    }

    .trailer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px;
        margin-top: 20px;
    }
    
    

    #episodesList{
        display: block;
    }

    .episodeCard{
        display: flex;
    }

    .episodeImage img{
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    /* Movies Page */
    #carouselBtn{
        display: block;
    }

    .carouselItemCard{
        display: none;
    }


    .imageSizing{
        height: 60vw;
    }

    #title{
        font-size: x-large;
        font-weight: 800;
        display: block;
    }

    .ratingBar span{
        font-size: 1rem;
    }

    .popularityBar span{
        font-size: 1rem;
    }

    #itemTrailer{
        width: 100%;
        min-height: 50vw;
        height: 100%;
    }

    #posterImage{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    #main{
        flex-direction: column-reverse;
    }

    .rightMainColumn{
        display: grid;
        width: auto;
        margin: 10px;
        grid-template-columns: repeat(2,1fr);
    }

    #homePageButton{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .subHeading{
        display: inline-block;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .subHeading2{
        margin-top: 30px;
    }

    #keywords ,#languages , #company ,#country ,#languageTitle{
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 10px;
    }


    .leftMainColumn{
        display: block;
        width: 100%;
    }

    .info{
        margin: 10px;
        font-size: 3.5vw;
    }

    #collections{
        margin: 10px;
        padding: 10px;
    }

    #collectionItem{
        margin: 10px;
    }

    .collectionCard{
        display: block;
        padding: 10px;
        margin: 10px;
    }

    #description{
        font-size: medium;
    }

    .collectionImage{
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin: -10px;
        margin-top: 0px;
    }

    .collectionInfo{
        margin: 0px -5px;
    }

    .castDiv{
        display: grid;
        grid-template-rows: 1fr;
        margin: 10px;
        padding: 10px;
    }

    #castList{
        display: grid;
        grid-template-columns: repeat(40,1fr);
        grid-row-gap: 10px;
        margin: 0px;
        padding-left: 0px;

    }

    .castImage{
        width: 120px;
        height: 180px;
    }

    .castName , .characterName{
        font-size: 0.7rem

    }

    .reviewDiv{
        margin: 10px;
        padding: 10px;
    }

    .recommendations{
        margin: 10px;
        padding: 10px;
    }

    .reviewCard{
        width: 70vw;
        
    }

    .pcItem{
        margin-top: 10px;
        font-weight: 400;
        color: rgb(255, 244, 222);
    }

    .reviewerInfo{
        display: block;
    }

    #review{
        font-size: 3vw;
        height: 50%;
        width: 100%;
    }

    .reviewDiv{
        height: 70vw;
    }

    #reviewerName , #reviewRating{
        font-size: 3vw;
        margin: 10px;
    }

    #reviewerImage{
        margin-left: 20px;
    }

    .mainCard{
        z-index: 1;
    }

    #controlBtn{
        display: block;
        margin: 0px;
    }

    /* Collection */
    #movieName{
        font-size: 1rem;
    }
    #movieDate{
        font-size: 0.8rem;
    }

    #overview{
        font-size: 0.8rem;
        height: 60%;
        overflow-y: auto;
    }


    /* Season Page */

    #episodesList{
        padding: 5px;
    }

    #episodeMetrics{
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
    }


    .episodeCard{
        flex-direction: column;
        width: auto;
        margin: 20px 10px;
    }

    .episodeItem{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #episodePoster{
        width: 100%;
        border-radius: 5px;
    }

    #episodeOverview{
        display: none;
    }

    #headingSpan{
        margin: 10px;
    }

    .episodeInfo{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    
    .nameRating{
        display: block;
        max-width: 45vw;
    }
    
    .dateDuration{
        display: inline-block;
        width: max-content;
        margin-left: auto;
        margin-right: 10px;
        align-self: flex-end;
        text-align: end;
    }

    #episodeDuration{
        font-size: 0.8rem;
    }

    #episodeNumber, #episodeTitle{
        font-size: 1rem;
    }


}